doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript',src="https://cdn.bootcss.com/react/0.13.3/react.min.js")
    script(type='text/javascript',src="https://cdn.bootcss.com/react/0.13.3/JSXTransformer.js")
    script(type='text/javascript',src="https://cdn.bootcss.com/react/0.13.3/react-with-addons.min.js")
    script(type='text/javascript',src="https://cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.js")
    script(type='text/javascript',src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type='text/javascript',src="https://cdn.bootcss.com/react-router/0.13.3/ReactRouter.js")
    script(type='text/javascript',src="/javascripts/reflux.js")
    script(type='text/javascript',src="/javascripts/action.js")
    script(type='text/javascript',src="/javascripts/store.js")
    script(type='text/jsx',src="/javascripts/component.jsx.js")
    script(type='text/jsx',src="/javascripts/app.js")
