doctype html
html
  head
    meta(name="viewport",content="width=device-width,minimum-scale=1.0,maximum-scale=1.0")
    title= title
    link(rel='stylesheet', href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
    script(type='text/javascript',src="https://cdn.bootcss.com/react/0.13.3/react.min.js")
    script(type='text/javascript',src="https://cdn.bootcss.com/react/0.13.3/JSXTransformer.js")
    script(type='text/javascript',src="https://cdn.bootcss.com/react/0.13.3/react-with-addons.min.js")
    script(type='text/javascript',src="/javascripts/jquery.min.js")
    script(type="text/javascript",src="/javascripts/jquery.easing.min.js")
    script(type='text/javascript',src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(type='text/javascript',src="/javascripts/reflux.js")
    script(type='text/javascript',src="/javascripts/action.js")
    script(type='text/javascript',src="/javascripts/store.js")
    script(type='text/jsx',src="/javascripts/component.jsx.js")
    script(type='text/jsx',src="/javascripts/app.js")
