body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}
.indexApp{
  background: url("../images/bg.jpg") top right no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 1;
}
.navbar{
  background: none;
  position: absolute;
  top: 0;
  height: 110px;
  left: 0;
  right: 0;
  z-index: 1000;
}
.sep{
  border-left: 1px solid rgba(255,255,255,0.2);
  width: 1px;
  margin: 14px 20px;
  height: 16px;
}
.navbar .navbar-brand{
  padding: 0;
  float: left;
  margin-top: 10px;
  max-width: none;
}
.navbar .nav{
  margin-left: 40px;
  margin-top: 5px;
  position: absolute;
  right: 50px;
}
.picarea{
  z-index: 100;
  position: relative;
  height: 720px;
  text-align: center;
  color: #fff;
  padding: 200px 0 0;
}
.picarea p{
  font-size: 18px;
  font-weight: 300;
  margin: 1em 0 1.5em;
  color: white;
}
.picarea h1{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: .2em;
  margin-top: .2em;
  color: #fff;

  font-family: "微软雅黑";
}
.picarea .text{
  margin: 40px 0 0 0;
  max-width: 400px;
}
.contactBtn{
  margin-top: 20px;
}
.indexArea,.contactArea,.workArea{
  padding:100px 0 0;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.indexArea h2{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
 .lead{
  font-size: 2rem;
  color: #555;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
   margin-top:20px;
}
.indexArea .container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.indexArea .screens{
  position: relative;
  height: 540px;
  margin-top: 60px;
  overflow: hidden;
}
.indexArea .screens img {
  margin-top: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
}
.indexArea .screen{
  display:inline;
}
.indexArea a{
  text-decoration: none;
  color:#777;
}
.contactArea h2{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.navPic:hover{
  cursor: pointer;
}
.workArea img{
  width:100%;
}
.contactAreaBtn .btn{
  margin-top:80px;
  margin-bottom: 100px;
}
.contactArea{
  background: url("//cortexinfrusesacdn.blob.core.windows.net/fusetools-web/v1449159887471/images/multiplatform_back.jpg") no-repeat center 0 #292c3c;
}